.container {
    margin-top: 50px;
    margin-left: 500px;
    margin-right: 500px;
    margin-bottom: 50px;
}
.nav-wrapper {
    display: flex;
    font-size: 15px;
    justify-content: space-between;
    font-weight: bold;
    padding: 7px;
    margin:10px;
}

.right-side {
    display: flex;  
   }
  
 .nav-wrapper > .right-side > div {
    margin-right: 30px; 
    font-size:0.9em;
   }


.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid black ; 
}

h2 {
    margin-left: 30px;
}

p {
    margin-left: 30px;
    font-style: italic;
    color: rgb(128, 105, 105);
}

.newspaper {
    margin-left: 30px;
}

